<!doctype html>

<html>
  <head>
    <title>TechNickL Vue</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>Look at that Vue!</h1>
    <div id="app">
      {{ message }}
    </div>
    <h2>How it works, a simple example:</h2>
    <p>HTML</p>
    <pre>
      <code>
        &lt;div> id="app">
          {{ message }}
        &lt;/div>
      </code>
    </pre>
    <p>JS</p>
    <pre>
      <code>
        var app = new Vue({
          el: '#app',
          data: {
            message: 'Working with Vue!'
          }
        });
      </code>
    </pre>
    <h2>Component Systems</h2>
    <p>register a component in vue</p>
    <pre>
      <code>
        &lt;ol>
          &lt;!-- Now provide each todo-item with the todo object    -->
          &lt;!-- it's representing, so that its content can be dynamic -->
          &lt;todo-item v-for="item in nicksList" v-bind:todo="item"></todo-item>
        &lt;/ol>
      </code>
    </pre>
    <pre>
      <code>
        //Vue ToDo Example
        Vue.component('todo-item', {
          props: ['todo'],
          template: '<li>{{ todo.text }}</li>'
        })
        var componentApp = new Vue({
          el: '#component-app',
          data: {
            nicksList: [
              { text: 'Learn Vue' },
              { text: 'Style Site' },
              { text: 'Expand Site with Vue' }
            ]
          }
        });
      </code>
    </pre>
    <div id="component-app">
      <ol>
        <todo-item v-for="item in nicksList" v-bind:todo="item"></todo-item>
      </ol>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
