/* variables */
:root {
  /* color variables */
  --orange: #FF7300;
  --burnt-orange: #c95000;
  --blue: #1E376C;
  --rhino: #25304B;
  --slate-blue: #748399;
  --manatee: #84899f;
  --cloud-burst: #1f304f;
  --porcelain: #fbfcfc;
  --white: #FFF;
}
/*GLOBALS*/
/* background color classes */
.has-bg-orange {
  background: #FF7300;
  background: var(--orange);
}
.has-bg-blue {
  background: #1E376C;
  background: var(--blue);
}
.has-bg-slate-blue {
  background: #748399;
  background: var(--slate-blue);
}
.has-bg-cloud-burst {
  background: #1f304f;
  background: var(--cloud-burst);
}
.has-bg-manatee {
  background: #84899f;
  background: var(--manatee);
}
.has-bg-rhino {
  background: #25304B;
  background: var(--rhino);
}
.has-bg-grey {
  background: #ddd;
}
.has-bg-porcelain {
  background: #fbfcfc;
  background: var(--porcelain);
}
.has-bg-white {
  background: #FFF;
  background: var(--white);
}

/* text color classes */
body {
  color: #25304B;
  color: var(--rhino);
}
.has-text-default {
  color: #25304B;
  color: var(--rhino);
}
.has-text-light {
  color: #fbfcfc;
  color: var(--porcelain);
}
.has-text-bright {
  color: #FF7300;
  color: var(--orange);
}
.has-text-dark-orange {
  color: #c95000;
  color: var(--burnt-orange);
}
.has-text-white {
  color: #FFF;
  color: var(--white);
}


/* font and text */
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Lucida Sans Unicode, Helvetica, sans-serif;
}
section h2, section h3 {
  font-weight: normal;
}
section h2 {
  font-size: 2rem;
}
.container h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 15%;
  margin-bottom: 16px;
  background: #FF7300;
  background: var(--orange);
}
section h3 {
  font-size: 1.5rem;
}
p a, li a {
  color: #c95000;
  color: var(--burnt-orange);
  text-decoration: underline;
}
p a:focus, p a:hover, li a:focus, li a:hover {
  color: #FFF;
  color: var(--white);
  background: #FF7300;
  background: var(--orange);
}
.highlight {
  color: #FF7300;
  color: var(--orange);
}
a sup {
  padding: 2px;
  font-weight: bold;
  text-decoration: underline;
}
a[disabled=disabled] {
  pointer-events: none;
  color: #748399;
  color: var(--slate-blue);
}
.smaller {
  font-size: smaller;
}
li i.fa, li i.far, li i.fas {
  margin-left: 8px;
}
i.fas.fa-book-open {
  font-size: 0.8em;
}

/* layout additions & overides */
.hidden {
  display: none;
  visibility: hidden;
}
/*#app {
  overflow: hidden;
}*/
ul, ol {
  margin-left: 1rem;
}
ul li, ol li {
  position: relative;
  margin: 0.8rem 0 0 1rem;
}
ul li::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 8px;
  display: block;
  height: 6px;
  width: 6px;
  background: #748399;
  border-radius: 1px;
}
ul li:before {
  background: #FF7300;
  background: var(--orange);
}
ul.sublist li:before {
  border:solid 1px #FF7300;
  border: solid 1px var(--orange);
  background: none;
}

/* modal overrides */
.modal-card {
  position: absolute;
  top: 56px;
  bottom: 56px;
  left: 24px;
  width: 80vw;
}
.modal-card-head {
  border-radius: 0;
}
.modal-card-foot button {
  margin: 0 auto;
}
.modal-background {
  background: #748399;
  background: var(--slate-blue);
}
.is-large.delete, .is-large.modal-close {
  top: 64px;
  right: 24px;
  height: 96px;
  width: 96px;
  max-width: initial;
  max-height: inherit;
}
#app.ie .is-large.delete, .is-large.modal-close {
  max-height: 96px;
  max-width: 96px;
}
.is-large.delete:focus, .is-large.delete:hover, .is-large.modal-close:focus, .is-large.modal-close:hover {
  background: #BF415A;
  background: var(--light-red);
}
@media only screen and (max-width: 768px) {
  a.toggle-image-modal {
    pointer-events: none;
  }
}
#image-modal .modal-content {
  position: fixed;
  width: 80vw;
  max-height: 100vh;
  padding-top: 8vh;
}

/* buttons */
.button {
  height: auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  white-space: normal;
}
.button:hover, .button:focus {
  background: #FFF !important;
}
.button.siyc-primary {
  border: none;
  background:#1E376C;
  background: var(--blue);
  color: #FFF;
  color: var(--white);
}
.button.siyc-primary:hover, .button.siyc-primary:focus {
  color: #25304B;
  color: var(--rhino);
}
.button.siyc-attention {
  border: none;
  background: #ff7300;
  background: var(--orange);
  color: #25304B;
  color: var(--rhino);
}
.button.siyc-attention:hover, .button.siyc-attention:focus {
  color: #c95000;
  color: var(--burnt-orange);
}
.button.siyc-outline {
  color: #FFF;
  color: var(--white);
  border: solid 1px #FFF;
  border: solid 1px var(--white);
  background: transparent;
  box-shadow: none;
}
.button.siyc-outline-blue {
  color: #1E376C;
  color: var(--blue);
  border: solid 1px #1E376C;
  border: solid 1px var(--blue);
  background: transparent;
  box-shadow: none;
}
.button.siyc-outline-orange {
  color: #FF7300;
  color: var(--orange);
  border: solid 1px #FF7300;
  border: solid 1px var(--orange);
  background: transparent;
  box-shadow: none;
}
.button.siyc-outline:hover, .button.siyc-outline:focus,
.button.siyc-outline-blue:hover, .button.siyc-outline-blue:focus {
  color: #FF7300;
  color: var(--orange);
  background: #FFF;
  background: var(--white);
}
.button.siyc-outline-blue:hover, .button.siyc-outline-blue:focus {
  border-color: #1E376C;
  border-color: var(--blue);
}
.button.siyc-outline-orange:hover, .button.siyc-outline-orange:focus {
  border-color: #FF7300;
  border-color: var(--orange);
}

/* navigation overrides */
.navbar {
  z-index: 10000 !important;
}
.navbar.is-primary {
  background: #FFF;
  background: var(--porcelain);
  box-shadow: 0 0 1px 0 rgb(40,69,104,0.2);
  box-shadow: 0 0 1px 0 var(--manatee);
}
.navbar-brand {
  width: 100%;
  max-height: 56px;
  justify-content: space-around;
}
.navbar-brand img {
  position: relative;
  max-height: 40px;
  max-width: none;
}
.navbar.is-primary .navbar-brand .navbar-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 100%;
  color: #25304B;
  color: var(--rhino);
}
.navbar.is-primary .navbar-brand > .navbar-item a:hover, .navbar.is-primary .navbar-brand > .navbar-item.is-active a, .navbar.is-primary .navbar-brand .navbar-link:hover, .navbar.is-primary .navbar-brand .navbar-link.is-active, .navbar-item a:hover, .navbar-item.is-active a, .navbar-link:hover, .navbar-link.is-active {
  background: #25304B;
  background: var(--rhino);
  color: #fff;
}
@media only screen and (max-width: 468px) {
  #mobile-navbar.navbar.is-primary {
    background: #84899f;
    background: var(--manatee);
  }
}
.navbar.is-primary .navbar-brand a.navbar-item {
  color: #25304B;
  color: var(--rhino);
}
.navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-brand > a.navbar-item.is-active, .navbar.is-primary .navbar-brand .navbar-link:hover, .navbar.is-primary .navbar-brand .navbar-link.is-active, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  color: #fff;
  background: #25304B;
  background: var(--rhino);
}

@media only screen and (max-width: 768px) {
  .navbar .siyc-home {
    margin-left: 0;
  }
}
#primary-navbar .navbar-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.navbar-item.current {
  pointer-events: none;
  color: #84899f !important;
  color: var(--manatee) !important;
}
.navbar-item.current::after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #FF7300;
  background-color: var(--orange);
}
.navbar-item.has-dropdown.current {
  pointer-events: inherit;
}
.navbar-dropdown {
  border-radius: 1px;
}
.navbar-dropdown .navbar-item.current::after {
  bottom: 0;
  height: 100%;
  width: 8px;
}
@media screen and (min-width: 769px) {
  .navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    width: 100%;
    min-width: 200px;
    position: absolute;
    top: 100%;
    z-index: 20;
  }
}
@media screen and (min-width: 769px) {
  .navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block;
  }
}
#primary-navbar .navbar-dropdown a.navbar-item {
  justify-content: flex-start;
  padding-left: 16px;
}
.navbar-item.siyc-home {
  pointer-events: none;
}
.navbar-item.siyc-home.current::after {
  display: none;
}
#mobile-navbar .navbar-item.current {
  color: #25304B !important;
  color: var(--rhino) !important;
}
#mobile-navbar .navbar-item.current::after {
  top: -2px;
}
#mobile-navbar .navbar-menu .navbar-item.current::after {
  height: 100%;
  width: 8px;
  left: 0;
  bottom: 0;
}
.navbar-item.hidden {
  display: none;
  visibility: none;
}

/* mobile navbar */
#mobile-navbar .navbar-menu {
  background: #748399;
  background: var(--slate-blue);
}
@media only screen and (min-width: 468px) {
  #mobile-navbar .navbar-burger, #mobile-navbar .navbar-menu {
    display: none;
  }
}
@media only screen and (max-width: 468px) {
  #mobile-navbar .navbar-burger {
    display: block;
  }
  #mobile-navbar .navbar-brand {
    display: none;
  }
}
#simple-primary-navbar .navbar-compete {
  margin-right: 2vw;
}

/* hero space */
.hero-body {
  position: absolute;
  position: relative;
  min-height: calc(100vh - 72px);
  min-height: 100vh;
  width: 100%;
  padding: 8vh 8vw;
  color: #FFF;
  color: var(--white);
  background: rgb(40,69,104);
  background: linear-gradient(90deg, rgba(40,69,104,1) 0%, rgba(0,95,141,0) 80%);
}
.hero-body {
  min-height: var(--hero-h);
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 0;
  background: rgba(0,0,0,0.4);
}
.hero-body .columns {
  flex: 1 auto;
}

/* subpage hero */
.subpage-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 33vw;
  padding:8vh 8vw;
}
.subpage-hero .background {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: url(../img/suny_main_image.jpg)no-repeat;
  background-position: top center;
  background-size:contain;
  background-attachment:fixed;
  z-index:-1;
}
.subpage-hero h1 {
  padding: 16px 8px;
  font-size: 2.25rem;
  color: #c95000;
  color: var(--burnt-orange);
  background: rgba(255,255,255,0.88);
}
#app.home .subpage-hero {
  position: relative;
  background: rgba(40,69,104,0.5);
}
#app.home .subpage-hero .background {
  background: url(../img/seto_group.png) no-repeat;
  background-position: top center;
  background-size: contain;
  background-size: cover;
}
#app.home .hero-body {
  padding-bottom: 8vh;
  min-height: auto;
}
#app.home .subpage-hero h1 {
  color: #FFF;
  color: var(--white);
  font-size: 2.8rem;
  background: none;
}
@media only screen and (max-width: 768px) {
  #app.home .subpage-hero .challenge-logo {
    order: 1;
  }
  #app.home .subpage-hero .hero-body div:first-of-type {
    order: 2;
  }
  #app.home .subpage-hero .hero-btn {
    order: 3;
  }
}

/* styles for IE - ie class assigned by js */
#app.ie.home .navbar-brand {
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  #app.ie .navbar-brand {
    justify-content: center;
  }
}
#app.ie .navbar-brand {
  height: 56px;
}
#app.ie.home .hero {
  min-height: 100%;
}

/* content sections */
section .container {
  padding: 0 2rem;
}
.subpage section .container {
  width: auto;
  max-width: 96vw;
  background: #FFF;
}
.subpage .container h2 {
  font-weight: 100;
}
.subpage .container p {
  margin: 16px 0;
}

/* left nav */
@media (min-height: 796px) {
  .left-nav {
    -webkit-position: sticky;
    position: sticky;
    top: 56px;
  }
}
a.left-nav-item {
  display: block;
  margin: 8px 0;
  color: #c95000;
  color: var(--burnt-orange);
}
a.left-nav-item:focus, a.left-nav-item:hover, a.left-nav-item.current {
  padding: 0 8px;
  margin-left: -8px;
  margin-right: -8px;
  color: #FFF;
  background: #c95000;
  background: var(--burnt-orange);
}
a.anchor-target {
  position: relative;
  top: -56px;
  display: block;
  height: 0;
}
.anchor-target::before {
  content: "";
  display: block;
  height: 3rem;
  height: 128px;
  position: absolute;
  top: 0;
  z-index: -1;
}

/*icons*/
.icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: #ff7300;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

/* timeline */
.rules-timeline li {
  padding: 2px 8px;
}
.rules-timeline .rules-date {
  float: right;
}
@media only screen and (max-width: 768px) {
  .rules-timeline li {
    width: 96%;
    float: left;
  }
  .rules-timeline li:last-of-type {
    margin-bottom: 80px;
  }
  .rules-timeline .rules-date {
    width: 100%;
    float: left;
  }
}


/* white space */
span.whitespace {
  display: block;
  height: 8vh;
  width: 100%;
}
span.whitespace-half {
  display: block;
  height: 4vh;
  width: 100%;
}


/* footer */
#app.home .footer {
  margin-top: -3rem;
}
.footer {
  margin-top: 3rem;
  font-size: larger;
}
.footer a {
  color: #FFF;
  color: var(--white);
  font-weight: bold;
}
.footer a:hover {
  color: #1f304f;
  color: var(--cloud-burst);
  background: #fff;
  background: var(--white);
}
.footer .logos {
  align-items: center;
}
.footer .logos figure {
  display: flex;
  justify-content: center;
}
.footer .logos img {
  max-height: 50px;
  max-width: 240px;
  width: auto;
  margin: 24px 0;
}
.footer .logos a:hover {
  background: none;
}
#nrel-logo {
  max-width: 80%;
  margin: 24px auto;
}
@media only screen and (max-width: 768px) {
  .footer-content {
    flex-wrap: wrap;
  }
  .footer-nav {
    order: 1;
  }
  .footer-logos {
    flex: 0 0 100%;
    order: 2;
  }
}

/* noscript */
noscript {
  position: fixed;
  top: 0;
  left: 0;
  font-size: large;
  background: #FFD501;
}

/* map */
/*#map {
  width: 100vw;
  height: 56vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#map.toggle-off {
  height: 0;
}
@media only screen and (max-width: 468px) {
  #map {
    height: 66vh;
  }
  .card.infobox {
    max-width: 80vw;
  }
}
#zoom-all {
  position: relative;
  width: 120px;
  top: -5rem;
  left: calc(50% - 60px);
}
*/

/* table */
/*#connectorTable td .serviceList {
  width: 288px;
}
#connectorTable p {
  line-height: 1;
}
#connectorTable p a {
  text-decoration: none;
}
#connectorTable .member-label {
  display: block;
  margin-top: 2px;
  font-size: small;
  color: rgba(0,0,0,0.5);
}

@media only screen and (max-width: 768px) {
  #connectorTable th:nth-child(3), #connectorTable td:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 468px) {
  #connectorTable th:nth-child(4), #connectorTable td:nth-child(4) {
    display: none;
  }
}
*/

/* connector cards */
/*.infobox.card {
  height: auto;
  width: 400px;
  margin-bottom: 0;
}
.card.geolocation {
  width: 300px;
}
*/

/* notification */
#new-notification {
  position: fixed;
  bottom: -16px;
  left: calc((100vw - 96%)/2);
  width: 96%;
  opacity: 0.96;
  z-index: 10000;
}
#new-notification p {
  padding: 8px;
  font-size: larger;
}
@media only screen and (max-width: 768px) {
  #new-notification {
    bottom: 24px;
  }
}

/* carousel */
.carousel .carousel-container .carousel-item {
  display: flex;
}
.carousel-item.columns {
  max-height: 300px;
  margin: 0;
}
.carousel-item .column {
  padding-top: 0;
}
.carousel-nav-item:focus, .carousel-nav-item:hover {
  background: var(--burnt-orange);
  color: #fff;
  cursor: pointer;
}
.carousel-nav-item:active {
  background: var(--orange);
}
.carousel-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel .carousel-container .carousel-item .title {
  background: rgba(31, 48, 79, 0.8);
  color: #fff;
  text-align: left;
}
.carousel-container .carousel-img-container {
  padding: 0;
}
